project:
  type: website

website:
  title: "ggsql"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - installation.qmd
      - syntax/index.qmd
      - examples.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



